#aktualnosci_sub {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  text-align: center;
  background-color: #4a727b0a;
  padding-bottom: 64px;
}
#aktualnosci_sub h1 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 40px;
}

#aktualnosci_container_sub {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.akt_sub {
  flex: 1;
  height: auto;
  max-height: 337px;
  max-width: 331px;
  aspect-ratio: 1 / 1;
  background-color: white;
  box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.2);
}

.akt_sub {
  text-align: left;
}
.akt_photo {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.2); */
}
.akt_text {
  flex: 1;
  padding: 10px;
}
.akt_text h5 {
  font-size: 12px;
  font-family: Merriweather Sans;
  color: rgb(179 179 179);
  font-weight: 100;
  /* margin: 12px 0; */
  line-height: 27px;
}
.akt_text p {
  font-size: 16px;
  font-family: Merriweather Sans;
  line-height: 25px;
}
.akt_text p a {
  font-size: 16px;
  font-family: Merriweather Sans;
  line-height: 25px;
}
.akt_text_link {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: inherit;
}
/* #aktualnosci {
  aspect-ratio: none;
} */
#news_detail {
  max-width: 685px;
  margin: 0 auto 40px;
}
#news_detail h1 {
  font-size: 32px;
  font-family: Merriweather Sans;
  margin: 64px 0 12px;
}
#news_detail h5 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  font-family: Merriweather Sans;
  margin-bottom: 40px;
}
#news_detail p {
  font-size: 16px;
  font-family: Merriweather Sans;
  line-height: 28px;
  margin-top: 32px;
  margin-bottom: 64px;
}
#news_detail a {
  font-family: Merriweather Sans;
  padding-bottom: 40px;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1024px) {
  #aktualnosci_sub {
    max-width: 100%;
    min-width: 100%;
  }

  #aktualnosci_container_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* rozsuwa karty do boków */
    align-items: flex-start;
    width: 90%;
    max-width: 920px; /*dwie karty po 330px + margines*/
    margin: 0 auto;
  }

  .akt_sub {
    width: 330px;
    height: 337px;
    flex: 0 0 330px;
    margin-bottom: 24px;
  }

  /* utrzymuje lewą krawędź w ostatnim rzędzie */
  #aktualnosci_container_sub::after {
    content: "";
    flex: 0 0 330px;
  }
}
@media (max-width: 768px) {
  #news_detail {
    padding: 0 24px;
  }
}
