@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

.footer {
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  background-color: #4a727b;
  padding: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  font-family: "Merriweather Sans", sans-serif;
}

.footer-logo {
  width: 123px;
  height: 131.18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  gap: 10px;
}

.address-frame {
  display: flex;
  align-items: center;
  gap: 14px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.divider {
  width: 52px;
  height: 1px;
  background-color: white;
  transform: rotate(90deg);
  align-self: center;
}

.footer-address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.footer-address h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 5%;
}

.footer-address p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 5%;
  text-align: center;
}

.footer-address a {
  color: white;
}

.footer-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.support-button {
  background-color: #bc7f79;
  color: white;
  width: 123px;
  height: 40px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #bc7f79;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.support-button:hover {
  background-color: rgba(248, 140, 130, 0.8);
  cursor: pointer;
}

.social-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* gap: 0.5rem; */
}

.social-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  color: #4a727b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .footer {
    max-width: 768px;
    min-width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 32px 40px 32px;
    gap: 24px;
    margin: 0 auto;
    position: relative;
  }

  .footer-logo {
    width: 123px;
    height: 131px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  .footer-address {
    width: 276px;
    height: 227px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .address-frame div {
    position: relative;
  }

  .address-frame div::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    margin: 8px auto 0;
  }

  .address-frame div:last-of-type::after {
    display: none;
  }
  .address-frame {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .divider {
    display: none;
  }

  .footer-support {
    width: 145px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    gap: 10px;
    min-width: 100vw;
  }

  .footer-logo {
    width: 163px;
    height: 171px;
  }

  .address-frame {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }
  .footer h4 {
    line-height: 32px;
  }
  .footer-support {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .divider {
    display: none;
  }

  .footer-address h4 {
    font-size: 15px;
    letter-spacing: 5%;
    text-align: center;
  }

  .footer-address p,
  .footer-address a {
    font-size: 13px;
    line-height: 24px;
    text-align: center;
  }
  .address-frame div {
    position: relative;
  }

  .address-frame div::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    margin: 16px auto 0;
  }

  .address-frame div:last-of-type::after {
    display: none;
  }

  .social-buttons {
    gap: 12px;
  }

  /* .support-button {
    width: 123px;
    height: 40px;
  } */
}

@media (max-width: 768px) {
  /* .footer {
    max-width: 375px;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    gap: 10px;
  }

  .footer-logo {
    width: 327px;
    height: 131.18px;
  }

  .address-frame {
    width: 327px;
    height: 271px;
    flex-direction: column;
    gap: 16px;
  }

  .footer-support {
    width: 327px;
    height: 112px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .divider {
    display: none;
  }

  .footer-address h4 {
    font-size: 15px;
    letter-spacing: 5%;
    text-align: center;
  }

  .footer-address p,
  .footer-address a {
    font-size: 13px;
    line-height: 24px;
    text-align: center;
  }

  .social-buttons {
    gap: 12px;
  }

  .support-button {
    width: 123px;
    height: 40px;
  } */
}

/*
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");


.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #4a727b;
  color: white;
  font-family: "Merriweather Sans", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 32px 24px;
  gap: 90px;
}

.footer-logo {
  width: 327px;
  height: 131.18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-address {
  width: 327px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.address-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.divider {
  display: none;
}

.footer-address h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.footer-address p,
.footer-address a {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer-support {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.support-button {
  background-color: #bc7f79;
  color: white;
  width: 123px;
  height: 40px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #bc7f79;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.support-button:hover {
  background-color: rgba(248, 140, 130, 0.8);
  cursor: pointer;
}

.social-buttons {
  display: flex;
  gap: 12px;
}

.social-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  color: #4a727b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}



@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    max-width: 768px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 32px;
    gap: 24px;
  }

  .footer-logo {
    width: 123px;
    height: 131px;
    flex-shrink: 0;
  }

  .footer-address {
    width: 276px;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: static; 
    transform: none;
  }

  .address-frame {
    flex-direction: column;
    gap: 16px;
  }

  .divider {
    display: none;
  }

  .footer-support {
    width: 145px;
    gap: 32px;
    justify-content: center;
    align-items: flex-end;
  }
}

@media (min-width: 1025px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center; 
    background-color: #4a727b;
  }

  .footer > * {
    flex-shrink: 0;
  }

  .footer-inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px;
    gap: 24px;
  }

  .footer-logo {
    width: 123px;
    height: 131.18px;
  }

  .address-frame {
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }

  .divider {
    display: block;
    width: 52px;
    height: 1px;
    background-color: white;
    transform: rotate(90deg);
    align-self: center;
  }

  .footer-address {
    gap: 40px;
  }

  .footer-support {
    align-items: center;
    gap: 24px;
  }

  .social-buttons {
    gap: 8px;
  }
}
*/
