* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0 auto;
}
body {
  max-width: 1440px;
  margin: auto;
}
a,
button {
  font-family: "Merriweather", serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
a {
  color: black;
  text-decoration: none;
}
#misja {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  aspect-ratio: 1440 / 689;
  margin: 0 auto;
  padding-bottom: 64px;
}

#misja h1,
#aktualnosci h1 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 40px;
}
#line {
  height: 3px;
  width: 150px;
  background-color: #bc7f79;
  margin: 16px auto;
}
#misja div h2 {
  color: #bc7f79;
  margin-bottom: 32px;
  font-family: "Merriweather", serif;
  line-height: 36px;
  font-size: 22px;
}

#misja_text {
  width: 685px;
  font-size: 16px;
  color: black;
  font-family: Merriweather Sans;
  line-height: 28px;
}
#aktualnosci {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  text-align: center;
  background-color: #4a727b0a;
  padding-bottom: 64px;
}

#aktualnosci_container {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.akt {
  flex: 1;
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: white;
  box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.2);
}

#owcip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 194px;
}
#owcip_logo1 img {
  height: 114px;
}
#owcip_logo2 img {
  height: 92px;
}
#owcip_logo1,
#owcip_logo2 {
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#owcip_text {
  flex: 0 0 70%;
  text-align: center;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-family: Merriweather Sans;
  font-size: 13px;
}

#owcip_text p {
  margin: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  #misja {
    min-width: 100%;
  }
  #misja_text {
    width: 90%;
  }
  #aktualnosci {
    max-width: none;
    min-width: 100%;
  }
  #owcip {
    width: 90%;
    margin: 48px auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #owcip_logo2 img {
    height: 114px;
  }

  #owcip_logo1 {
    order: 1;
  }

  #owcip_logo2 {
    order: 2;
  }

  #owcip_text {
    order: 3;
    flex: 0 0 100%;
    margin: 32px 0 0;
  }
}
@media (max-width: 767px) {
  #misja {
    min-width: 100%;
    max-width: 100%;
  }
  #misja_text {
    width: 90%;
  }
  #aktualnosci {
    min-width: 100%;
    max-width: 100%;
  }
  #owcip_text {
    flex: 0 1 auto;
  }
  .banner-container {
    aspect-ratio: 375 / 700;
  }
  #aktualnosci_container {
    flex-direction: column;
  }
  #owcip {
    flex-wrap: wrap;
    padding: 32px 0;
    height: auto;
    justify-content: space-around;
  }
  #owcip_text {
    order: -1;
    width: 90%;
    padding: 24px 0;
  }
}
