#kontakt_container {
  min-width: 1024px;
}
#kontakt_container h1 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
}
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 80px 20px;
  gap: 24px;
  font-family: Merriweather Sans;
}
.contact-info {
  color: #4a727b;
  line-height: 22px;
  width: 328px;
}
.contact-info p {
  line-height: 22px;
  font-size: 13px;
  font-family: Merriweather Sans;
  letter-spacing: 1px;
  font-weight: 400;
}
.contact-info h2 {
  font-size: 15px;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.contact-info a {
  color: #4a727b;
  text-decoration: underline;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input::placeholder,
textarea::placeholder {
  color: #999;
  opacity: 1;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 8px;
}

.checkbox-group label {
  display: flex;
  margin-bottom: 12px;
  color: #888;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
}
.checkbox-group label [type="checkbox"] {
  margin-right: 8px;
}
.contact-form input {
  height: 38px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
  border: 1px solid #ddd;
}
.contact-form textarea {
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  height: 219px;
}
.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #bc7f79;
  cursor: pointer;
}
.submit-btn {
  align-self: flex-start;
  background-color: #bc7f79;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

.submit-btn:hover {
  background-color: rgba(188, 127, 121, 0.85);
}
