#media_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  min-width: 1024px; /*usunąć jak coś żeby kontenet sie zmiejszał*/
}
#media_page h1 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 40px;
}
#media_container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* ← tu zmiana */
}

.media_item {
  width: 331px;
  height: 293px;
  display: flex;
  flex-direction: column;
  margin: 0 24px 24px;
}
.media_photo {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.2);
}

.media_text {
  flex: 1;
  padding: 10px;
}
.media_text h5 {
  font-size: 12px;
  font-family: Merriweather Sans;
  color: rgb(179 179 179);
  font-weight: 100;
  /* margin: 12px 0; */
  line-height: 27px;
}
.media_text p {
  font-size: 16px;
  font-family: Merriweather Sans;
  line-height: 25px;
}
.media_text p a {
  font-size: 16px;
  font-family: Merriweather Sans;
  line-height: 25px;
}
.media_text_link {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: inherit; /* dziedziczy rodzinę fontów z <p> */
}
@media (max-width: 1024px) and (min-width: 769px) {
  #media_page {
    min-width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  #media_page {
    min-width: 100%;
  }
}
@media (max-width: 768px) {
}
