#menuContainer {
  min-width: 1000px;
  /* max-width: 1440px; */
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;
  gap: 24px;
}

#wesprzyjButton {
  background-color: #bc7f79;
  color: white;
  width: 123px;
  height: 40px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s, border 0.2s; /* animacja 0.2s */
}

.parentLink.activeLink {
  font-weight: bold;
  /* color: black; */
  position: relative; /* potrzebne do ::after */
}

.parentLink.activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px; /* przesunięcie linii w dół */
  width: 100%;
  height: 2px; /* grubość linii */
  background-color: #bc7f79; /* kolor podkreślenia */
}
#menuContainer > .activeLink {
  position: relative;
  font-weight: bold;
  /* color: black; lub biały, zależnie od designu */
}

/* Hover dla linków w menu */
#menuContainer a,
#menuContainer .parentLink {
  transition: opacity 0.2s; /* płynna zmiana */
}

#menuContainer a:hover,
#menuContainer .parentLink:hover {
  opacity: 0.6; /* 50% przezroczystości */
}

#menuContainer > .activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px; /* przesunięcie w dół */
  width: 100%;
  height: 2px; /* grubość linii */
  background-color: #bc7f79; /* kolor podkreślenia */
}
/* Dropdown linki */
#menuContainer .parentLink + div a {
  transition: background-color 0.2s;
  text-decoration: none;
  color: white; /* zachowuje kolor tekstu */
  display: block;
  padding: 8px 16px;
}

/* Efekt hover dla rozwijanego menu */
#menuContainer .parentLink + div a:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* 30% przezroczystości białego tła */
}

#wesprzyjButton:hover {
  cursor: pointer;
}
#btn-contrast,
#btn-zoom-in {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: normal; /* tylko dla kontrastu, ale nie szkodzi dla drugiego */
  padding: 0; /* opcjonalnie, żeby usunąć domyślne paddingi */
}

#btn-contrast img,
#btn-zoom-in img {
  width: 16px;
  height: 16px;
}

@media (max-width: 1024px) {
  #menuContainer {
    display: none;
  }
}
