.menu_mobile {
  display: none;
  position: relative;
  z-index: 1000;
}

@media (max-width: 1024px) {
  .menu_mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 16px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
    margin: 4px 0;
    transition: transform 0.2s ease;
  }

  .hamburger.open span:nth-child(1) {
    transform: translateY(-4px);
    transition: transform 0.15s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .hamburger.open span:nth-child(2) {
    transform: translateY(0);
    transition: transform 0.15s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .hamburger.open span:nth-child(3) {
    transform: translateY(4px);
    transition: transform 0.15s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .mobileLinks {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.4s ease;
    z-index: 9999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .mobileLinks.open {
    top: 0;
  }

  .mobileLinks.open {
    top: 0;
  }

  .mobileLinks a {
    text-decoration: none;
    color: #4a727b;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .mobileLinks a:hover {
    color: #2c5a5f;
  }

  .closeButton {
    position: absolute;
    top: 12px;
    right: 24px;
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #4a727b;
  }
  .mobileLinks a {
    text-decoration: none;
    color: #4a727b;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .mobileLinks a:hover {
    color: #2c5a5f;
  }
  #wesprzyjButton {
    width: 141px;
    font-size: 16px;
  }
  .mobileLinks a:nth-child(3),
  .mobileLinks a:nth-child(4),
  .mobileLinks a:nth-child(5) {
    font-size: 13px;
    color: #4a727b80;
  }
  .mobileLinks a {
    position: relative;
    display: inline-block; /* <- konieczne, flex lub block to psuje */
    text-decoration: none;
    color: #4a727b;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 8px 0;
    text-align: center;
  }

  .mobileLinks .activeLink {
    font-weight: bold;
  }

  .mobileLinks .activeLink::after {
    content: "";
    position: absolute;
    left: 50%; /* <-- wyśrodkuj linię */
    bottom: -4px;
    transform: translateX(-50%); /* <-- faktyczne wycentrowanie */
    width: 60%; /* <-- krótsza niż tekst, wygląda lepiej */
    height: 2px;
    background-color: #bc7f79;
    border-radius: 1px;
  }

  .mobileLinks a:hover {
    opacity: 0.6;
  }
}
