body {
  max-width: 1440px;
  margin: auto;
}

#misja_page {
  /* max-width: 685px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  min-width: 1024px;
}
#misja_page h1 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 40px;
}
#misja_page h2 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 26px;
}
#misja_page h3 {
  position: relative; /* potrzebne dla absolutnego pseudo-elementu */
  margin: 32px 28px 16px;
  font-family: Merriweather Sans;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 25px;
}
#cele_container p {
  margin-left: 28px;
}

#misja_page h3::before {
  content: "";
  position: absolute; /* pozycjonowanie względem h3 */
  left: -30px; /* przesunięcie znaczek na lewo od początku tekstu */
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 24px;
  background-image: url("../Pictures/Vector.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* opcjonalnie dla całego kontenera, aby tekst h3 i p był wyrównany do tej samej osi */
#misja_container {
  max-width: 685px;
  padding-left: 0; /* upewnij się, że nie ma dodatkowego wcięcia */
}

#cele_container p {
  font-size: 14px;
  font-family: Merriweather Sans;
  line-height: 28px;
}
#misja_container {
  max-width: 685px;
}
#cele_paragraph {
  font-family: Merriweather Sans;
  font-size: 16px;
  line-height: 28px;
}
.button_container {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  margin-top: 32px;
  padding-bottom: 40px;
}
.download_button {
  color: #bc7f79;
  border: 2px solid #bc7f79;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  /* margin: 48px auto 0; */
  transition: color 0.1s ease, border-color 0.1s ease;
  background: transparent;
}
@media (max-width: 1024px) and (min-width: 769px) {
  #misja_page {
    min-width: 100%;
  }
  #misja_container {
    max-width: 685px;
  }
}
@media (max-width: 768px) {
  #misja_page {
    min-width: 80%;
    max-width: 100%;
    margin: 0 24px;
  }

  /* #cele_container {
    margin-left: 24px;
  } */
  #misja_container {
    /* max-width: 90%; */
  }
  .button_container {
    flex-direction: column;
  }
  .download_button {
    width: fit-content;
  }
}
