body {
  max-width: 1440px;
  margin: auto;
}

#projekty_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}

#projekty_page h1 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

#projekty_page h2 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 26px;
}

#projekty_page h3 {
  margin: 32px 0 16px;
  font-family: "Merriweather Sans";
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 25px;
}

#projekty_aktualne_section,
#projekty_archiwalne_section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  gap: 64px;
  opacity: 1;
}
.projekty_container_act,
.projekty_container_arc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  width: 100%;
  max-width: 1041px;
  margin: 0 auto;
}
.projekty_item {
  flex: 1 1 min(331px, 100%);
  max-width: 331px;
  box-sizing: border-box;
}

.projekty_photo {
  position: relative;
  width: 100%;
  max-width: 331px;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 330px;
  margin-bottom: 1rem;
}

.projekty_text_link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  color: white;
  padding: 8px;
}

.projekty_text {
  width: 100%;
  height: auto;
  padding: 10px;
}

.projekty_text h5 {
  font-size: 24px;
  font-family: "Merriweather Sans";
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 35px;
  position: absolute;
  bottom: 5px;
  padding: 8px;
  letter-spacing: 0;
}

.projekty_text p,
.projekty_text p a {
  font-size: 16px;
  font-family: "Merriweather Sans";
  line-height: 25px;
}

.projekty_container_act p,
.projekty_container_arc p {
  font-size: 14px;
  font-family: "Merriweather Sans";
  line-height: 28px;
  font-weight: 100;
}

@media (max-width: 1024px) {
  .projekty_item {
    flex: 1 1 min(50%, 100%);
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .projekty_item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  #projekty_page h1 {
    font-size: 28px;
    line-height: 40px;
    margin: 32px 0;
  }
}
