#zespol_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
#zespol_page h1 {
  margin: 64px 0;
  font-family: "Merriweather", serif;
  color: #4a727b;
  letter-spacing: 2px;
  font-size: 40px;
}
.person_container {
  /* margin: 0 24px; */
}
.picture {
  width: 323px;
  height: 415px;
  flex-shrink: 0;
  margin-right: 24px;
  background-size: cover;
  background-position: center;
}
.person_text {
  max-width: 686px;
}
.person_text h2 {
  font-size: 32px;
  line-height: 30px;
  color: #bc7f79;
  font-family: "Merriweather", serif;
  margin-bottom: 12px;
}
.person_text h4 {
  color: #bc7f79;
  font-family: Merriweather Sans;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 24px;
}
.person_text p {
  font-family: Merriweather Sans;
  font-size: 16px;
  line-height: 28px;
}
#zespol_container {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}
.person_container {
  display: flex;
  margin-bottom: 64px;
  /* flex-direction: column; */
}
@media (max-width: 1024px) and (min-width: 769px) {
  #zespol_page {
    width: 100%;
    min-width: 100%;
  }
  .person_container {
    flex-direction: column;
  }
  .picture {
    margin: 0 auto 48px;
  }
}
